---
import LayoutMarkdown from "../layouts/LayoutMarkdown.astro";
import PageTitle from "../components/PageTitle.astro";
import { Image } from "astro:assets";
const {
  blogEntry: { data },
  Content,
} = Astro.props;
---

<LayoutMarkdown title="blog post">
  <div class="prose mx-auto mb-9">
    <PageTitle>
      {data.title}
    </PageTitle>
    <h3>{data.subtitle}</h3>
    <Image src={data.cover_image} alt={data.cover_alt} />
    <Content />
  </div>
</LayoutMarkdown>
