---
import Layout from "../layouts/Layout.astro";
import PageTitle from "../components/PageTitle.astro";

import PlantAndProtectCard from "../components/PlantAndProtectCard.astro";

const { indexContent, plantAndProtect } = Astro.props;
---

<Layout data={indexContent.meta}>
  <PageTitle>{indexContent.title}</PageTitle>
  <p class="text-gray-900 text-center font-bold text-2xl">
    {indexContent.subtitle}
  </p>

  <div class="mx-auto mt-9">
    <PlantAndProtectCard plantAndProtect={plantAndProtect} />
  </div>
</Layout>
