---
import Layout from "../layouts/Layout.astro";
import PageTitle from "../components/PageTitle.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <PageTitle>{frontmatter.title}</PageTitle>
  <p class="text-gray-900 text-center font-bold text-2xl">
    {frontmatter.subtitle}
  </p>

  <div class="mx-auto mt-9"><slot /></div>
</Layout>
