---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
const { pageContent, projects } = Astro.props;
---

<Layout title="selva viva projects page">
  <div>
    <h1
      class="font-all font-bold mb-7 mt-9 text-2xl text-center text-yellow_leave-700 uppercase lg:text-4xl xl:mb-9 xl:mt-12"
    >
      {pageContent.title}
    </h1>
  </div>
  <section class="mb-20 projects_section">
    <section class="mb-20 projects_section">
      <div class="container mx-auto px-4">
        <div class="flex flex-wrap -mx-4 flex-row-reverse">
          {projects.map((project) => <ProjectCard cardContent={project} />)}
        </div>
      </div>
    </section>
  </section>
</Layout>
