---
import LayoutMarkdown from "../layouts/LayoutMarkdown.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="tree-nursery">
  <div class="prose mx-auto mt-9"><slot /></div>
</Layout>
