---
import Layout from "../layouts/Layout.astro";

const { Content, treeEntry } = Astro.props;
---

<Layout title="selva viva projects page">
  <h1>this is just for one tree</h1>
  <div>{treeEntry.data.title}!</div>
  <div class="prose"><Content /></div>
</Layout>
