---
import Layout from "../layouts/Layout.astro";
import TreeCard from "../components/TreeCard.astro";
import PageTitle from "../components/PageTitle.astro";

const { treesCollection } = Astro.props;
---

<Layout title="selva viva projects page">
  <PageTitle>Conoce nuestros árboles</PageTitle>
  <div class="mx-auto px-10">
    <ul class="-mx-4 flex flex-wrap">
      {
        treesCollection.map((tree) => (
          <>
            <TreeCard tree={tree} />
          </>
        ))
      }
    </ul>
  </div>
</Layout>
