---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404">
  <div class="bg-slate-300 h-96 flex items-center justify-center flex-col">
    <h1 class="text-green-500 text-3xl mb-2">404 no page found</h1>
    <h2 class="text-green-500 text-3xl mb-2">404 Seite nicht gefunden</h2>
    <h3 class="text-green-500 text-3xl mb-2">404 esta página no existe</h3>
  </div>
</Layout>
