---
const { bgColor } = Astro.props;
---

<div class=`${bgColor} container mx-auto px-4`>
  <div class="-mx-4 flex flex-wrap justify-center">
    <h2
      class="font-bold font-sans mt-9 text-3xl text-yellow_leave-600 uppercase"
    >
      La semilla de un sueño
    </h2>
    <p class="font-all px-20 py-10 text-2xl text-white">
      Viendo la preocupante situación ecológica de numerosas especies de árboles
      en nuestra región, decidimos establecer un vivero pequeño con el propósito
      de sembrar y cuidar plántulas para luego trasplantarlas. No obstante, nos
      dimos cuenta rápidamente de que, aunque nuestra labor era noble, un vivero
      de pequeñas dimensiones no logra tener un impacto significativo. Por esta
      razón, hemos decidido buscar apoyo para crear y mantener un vivero más
      grande, capaz de albergar constantemente alrededor de veinte mil árboles
      en diferentes etapas de crecimiento, para así poder trasplantarlos en el
      momento adecuado.
    </p>
    <a
      href="#"
      class="bg-yellow_leave-500 font-light hover:bg-yellow_leave-500 inline-block mb-10 px-5 py-2 rounded-sm text-white uppercase"
      >Planta un arbol</a
    >
  </div>
</div>
