---
const { content } = Astro.props;
import FlexPanelsPanel from "./FlexPanelsPanel.astro";
---

<script>
  const panels = document.querySelectorAll(".panel");

  function toggleOpen() {
    this.classList.toggle("open");
  }

  function toggleActive(e) {
    if (e.propertyName.includes("flex")) {
      this.classList.toggle("open-active");
    }
  }

  panels.forEach((panel) => panel.addEventListener("click", toggleOpen));
  panels.forEach((panel) =>
    panel.addEventListener("transitionend", toggleActive)
  );
</script>

<div class="panels">
  {
    content.map((panel, i) => (
      <>
        <FlexPanelsPanel panel={panel} i={i} />
      </>
    ))
  }
</div>

<style>
  body {
    margin: 0;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  .panels {
    min-height: 50vh;
    overflow: hidden;
    display: flex;
  }
  @media only screen and (max-width: 600px) {
    .panel p {
      font-size: 1em;
    }
  }

  @media only screen and (max-width: 600px) {
    .panels {
      flex-direction: column;
    }
  }
</style>
