---
import { getRelativeLocaleUrl } from "astro:i18n";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import { useTranslationsForLinks } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const links = useTranslationsForLinks(lang);
---

<footer class="bg-green_dark-900 font-light pt-12 text-gray-300">
  <div class="container mx-auto px-4 relative">
    <div class="flex flex-wrap -mx-4">
      <div class="w-full p-4 xl:mr-auto xl:w-4/12">
        <a
          href={`${getRelativeLocaleUrl(lang)}${links("home")}`}
          class="font-medium hover:text-yellow_leave-500 inline-block mb-6 mr-auto text-3xl text-white uppercase"
          >Viva la Selva</a
        >
        <p class="mb-4 text-sm">Wir pflanzen Bäume für eine biodiverse Welt.</p>
      </div>
      <div class="p-4 w-full sm:w-4/12 md:text-center xl:w-2/12">
        <a
          class="hover:text-yellow_leave-500 font-bold mb-8 text-lg uppercase"
          href={`${getRelativeLocaleUrl(lang)}${links("home")}`}>{t("nav.home")}</a
        >
      </div>
      <div class="p-4 w-full sm:w-4/12 md:text-center xl:w-2/12">
        <a
          class="font-bold mb-8 text-lg uppercase hover:text-yellow_leave-500"
          href={`${getRelativeLocaleUrl(lang)}${links("about")}`}>{t("nav.about")}</a
        >
      </div>
      <div class="p-4 w-full sm:w-4/12 md:text-center xl:w-2/12">
        <a
          class="hover:text-yellow_leave-500 font-bold mb-8 text-lg uppercase"
          href={`${getRelativeLocaleUrl(lang)}${links("contact")}`}
          >{t("nav.contact")}</a
        >
      </div>
    </div>
    <div class="py-4 text-center">
      <hr class="mb-4 opacity-25" />
      <p class="text-sm">Copyright & copy; 2023 Viva la Selva</p>
    </div>
  </div>
</footer>
