---
const { text } = Astro.props;
---

<div class="absolute bottom-5 right-10">
  <p
    class="bg-opacity-70 bg-slate-900 drop-shadow-lg font-all font-light italic px-2 text-lg text-right text-white tracking-wide md:text-2xl"
  >
    {text}
  </p>
</div>
