---
import { languages } from "../i18n/ui";
import { getLangFromUrl } from "../i18n/utils";
import { Icon } from "astro-icon/components";
import { getRelativeLocaleUrl } from "astro:i18n";

const lang = getLangFromUrl(Astro.url);
---

<div class="bg-green-200">
  <ul class="flex justify-end gap-2 mx-auto w-10/12">
    {
      Object.entries(languages).map(([lang, label]) => (
        <li class="p-1">
          <a href={getRelativeLocaleUrl(lang)} class="flex items-center">
            <Icon name={lang} size="21" />
            <span class="inline-block ml-2 uppercase text-xs font-semibold font-all">
              {label}
            </span>
          </a>
        </li>
      ))
    }
  </ul>
</div>
