---
import { languages } from "../i18n/ui";
import { pickLangPath } from "../utils/utils";
import { useTranslatedPath } from "../i18n/utils";
import { getLangFromUrl } from "../i18n/utils";
import { Icon } from "astro-icon";
import { getRouteFromUrl } from "../i18n/utils";
const route = getRouteFromUrl(Astro.url);

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
---

<div class="bg-green-200">
  <ul class="flex justify-end gap-2 mx-auto w-10/12">
    {
      Object.entries(languages).map(([lang, label]) => (
        <li class="p-1">
          <a
            href={translatePath(`/${route ? route : ""}`, lang)}
            class="flex items-center"
          >
            <Icon name={lang} />
            <span class="inline-block ml-2 uppercase text-xs font-semibold font-all">
              {label}
            </span>
          </a>
        </li>
      ))
    }
  </ul>
</div>

<style lang="css">
  [astro-icon] {
    width: 1.3rem;
  }
</style>
