---
const { tree } = Astro.props;
---

<li class="px-4 rounded-xl md:w-1/2 xl:w-1/3">
  <div class="flex overflow-hidden p-4 rounded shadow-lg">
    <div class="w-2/6">
      <img
        src="img/tropical_forest_2.png"
        class="min-h-full object-cover rounded-lg"
      />
    </div>
    <div class="flex flex-col justify-evenly pl-4 pr-2 py-2 w-4/6">
      <h5 class="font-bold mb-1 text-green-700 text-lg">
        {tree.data.name}
      </h5>
      <p class="mb-1 text-brown-500">
        {tree.data.excerpt}
      </p>
      <a
        href={`/trees/${tree.slug}`}
        class="bg-yellow_leave-700 font-light hover:bg-yellow_leave-600 inline-block px-2 py-1 rounded-sm self-start text-brown_dark-900 text-sm uppercase"
      >
        leer mas...
      </a>
    </div>
  </div>
</li>
