---
import Layout from "../../layouts/Layout.astro";
//TODO: add 404 page heade meta data#
const headMetaData = {
  title: "404",
  description: "Esta página no existe",
  image: "/src/assets/aimg_20230504_124843-copy.jpeg",
};
---

<Layout data={headMetaData}>
  <div class="bg-slate-300 h-96 flex items-center justify-center flex-col">
    <h3 class="text-green-500 text-3xl mb-2">404 esta página no existe</h3>
  </div>
</Layout>
