---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="404">
  <div class="bg-slate-300 h-96 flex items-center justify-center">
    <h1 class="text-green-500 text-3xl">404 esta página no existe</h1>
  </div>
</Layout>
